@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  margin: 0;
  background-color: #4D5861;
  position: relative;
  /* height: 100vh; */
}
.card{
  margin: auto;
  padding: 15px;
}

.illustration{
  position: absolute;
  right: 60px;
  bottom: -270px;
  z-index: 0;
}

.illustration-two{
  position: absolute;
  right: 10px;
  bottom: -300px;
  z-index: 0;
}
.opac{
  z-index: 2;;
}
@font-face{
  font-family: envy;
  src:url(./Assests/fonts.ttf);
}
.envy{
  font-family: envy;
}
.real{
  position: absolute;
  top: -100px;
  right: 50px;
}
.lush{
  position: absolute;
  top: -50px;
  right: 50px;
}